# Introduction
**This will be your workspace for the [Machine Learning course](https://www.kaggle.com/learn/machine-learning).**

You will need to translate the concepts to work with the data in this notebook, the Iowa data. Each page in the Machine Learning course includes instructions for what code to write at that step in the course.

# Write Your Code Below

In [1]:
import pandas as pd

main_file_path = 'train.csv'
data = pd.read_csv(main_file_path)

In [2]:
pwd

'/home/yogi/Documents/Kaggle/iowa'

In [3]:
print (data)

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave   NaN      Reg
1        2          20       RL         80.0     9600   Pave   NaN      Reg
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
5        6          50       RL         85.0    14115   Pave   NaN      IR1
6        7          20       RL         75.0    10084   Pave   NaN      Reg
7        8          60       RL          NaN    10382   Pave   NaN      IR1
8        9          50       RM         51.0     6120   Pave   NaN      Reg
9       10         190       RL         50.0     7420   Pave   NaN      Reg
10      11          20       RL         70.0    11200   Pave   NaN      Reg
11      12          60       RL         85.0    11924   Pave   NaN      IR1
12      13          20       RL          NaN    12968   Pave   NaN      IR2
13      14          20       RL         91.0    10652   Pave   NaN      IR1
14      15          20       RL          NaN    10920   Pave   NaN      IR1
15      16          45       RM         51.0     6120   Pave   NaN      Reg
16      17          20       RL          NaN    11241   Pave   NaN      IR1
17      18          90       RL         72.0    10791   Pave   NaN      Reg
18      19          20       RL         66.0    13695   Pave   NaN      Reg
19      20          20       RL         70.0     7560   Pave   NaN      Reg
20      21          60       RL        101.0    14215   Pave   NaN      IR1
21      22          45       RM         57.0     7449   Pave  Grvl      Reg
22      23          20       RL         75.0     9742   Pave   NaN      Reg
23      24         120       RM         44.0     4224   Pave   NaN      Reg
24      25          20       RL          NaN     8246   Pave   NaN      IR1
25      26          20       RL        110.0    14230   Pave   NaN      Reg
26      27          20       RL         60.0     7200   Pave   NaN      Reg
27      28          20       RL         98.0    11478   Pave   NaN      Reg
28      29          20       RL         47.0    16321   Pave   NaN      IR1
29      30          30       RM         60.0     6324   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1430  1431          60       RL         60.0    21930   Pave   NaN      IR3
1431  1432         120       RL          NaN     4928   Pave   NaN      IR1
1432  1433          30       RL         60.0    10800   Pave  Grvl      Reg
1433  1434          60       RL         93.0    10261   Pave   NaN      IR1
1434  1435          20       RL         80.0    17400   Pave   NaN      Reg
1435  1436          20       RL         80.0     8400   Pave   NaN      Reg
1436  1437          20       RL         60.0     9000   Pave   NaN      Reg
1437  1438          20       RL         96.0    12444   Pave   NaN      Reg
1438  1439          20       RM         90.0     7407   Pave   NaN      Reg
1439  1440          60       RL         80.0    11584   Pave   NaN      Reg
1440  1441          70       RL         79.0    11526   Pave   NaN      IR1
1441  1442         120       RM          NaN     4426   Pave   NaN      Reg
1442  1443          60       FV         85.0    11003   Pave   NaN      Reg
1443  1444          30       RL          NaN     8854   Pave   NaN      Reg
1444  1445          20       RL         63.0     8500   Pave   NaN      Reg
1445  1446          85       RL         70.0     8400   Pave   NaN      Reg
1446  1447          20       RL          NaN    26142   Pave   NaN      IR1
1447  1448          60       RL         80.0    10000   Pave   NaN      Reg
1448  1449          50       RL         70.0    11767   Pave   NaN      Reg
1449  1450         180       RM         21.0     1533   Pave   NaN      Reg
1450  1451          90       RL         60.0     9000   Pave   NaN      Reg
1451  1452          20       RL         78.0     9262   Pave   NaN      Reg
1452  1453         180       RM         35.0     3675   Pave   NaN      Reg
1453  1454          20       RL         90.0    17217   Pave   NaN      Reg
1454  1455          20       FV         62.0     7500   Pave  Pave      Reg
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities    ...     PoolArea PoolQC  Fence MiscFeature  \
0            Lvl    AllPub    ...            0    NaN    NaN         NaN
1            Lvl    AllPub    ...            0    NaN    NaN         NaN
2            Lvl    AllPub    ...            0    NaN    NaN         NaN
3            Lvl    AllPub    ...            0    NaN    NaN         NaN
4            Lvl    AllPub    ...            0    NaN    NaN         NaN
5            Lvl    AllPub    ...            0    NaN  MnPrv        Shed
6            Lvl    AllPub    ...            0    NaN    NaN         NaN
7            Lvl    AllPub    ...            0    NaN    NaN        Shed
8            Lvl    AllPub    ...            0    NaN    NaN         NaN
9            Lvl    AllPub    ...            0    NaN    NaN         NaN
10           Lvl    AllPub    ...            0    NaN    NaN         NaN
11           Lvl    AllPub    ...            0    NaN    NaN         NaN
12           Lvl    AllPub    ...            0    NaN    NaN         NaN
13           Lvl    AllPub    ...            0    NaN    NaN         NaN
14           Lvl    AllPub    ...            0    NaN   GdWo         NaN
15           Lvl    AllPub    ...            0    NaN  GdPrv         NaN
16           Lvl    AllPub    ...            0    NaN    NaN        Shed
17           Lvl    AllPub    ...            0    NaN    NaN        Shed
18           Lvl    AllPub    ...            0    NaN    NaN         NaN
19           Lvl    AllPub    ...            0    NaN  MnPrv         NaN
20           Lvl    AllPub    ...            0    NaN    NaN         NaN
21           Bnk    AllPub    ...            0    NaN  GdPrv         NaN
22           Lvl    AllPub    ...            0    NaN    NaN         NaN
23           Lvl    AllPub    ...            0    NaN    NaN         NaN
24           Lvl    AllPub    ...            0    NaN  MnPrv         NaN
25           Lvl    AllPub    ...            0    NaN    NaN         NaN
26           Lvl    AllPub    ...            0    NaN    NaN         NaN
27           Lvl    AllPub    ...            0    NaN    NaN         NaN
28           Lvl    AllPub    ...            0    NaN    NaN         NaN
29           Lvl    AllPub    ...            0    NaN    NaN         NaN
...          ...       ...    ...          ...    ...    ...         ...
1430         Lvl    AllPub    ...            0    NaN    NaN         NaN
1431         Lvl    AllPub    ...            0    NaN    NaN         NaN
1432         Lvl    AllPub    ...            0    NaN    NaN         NaN
1433         Lvl    AllPub    ...            0    NaN    NaN         NaN
1434         Low    AllPub    ...            0    NaN    NaN         NaN
1435         Lvl    AllPub    ...            0    NaN  GdPrv         NaN
1436         Lvl    AllPub    ...            0    NaN   GdWo         NaN
1437         Lvl    AllPub    ...            0    NaN    NaN         NaN
1438         Lvl    AllPub    ...            0    NaN  MnPrv         NaN
1439         Lvl    AllPub    ...            0    NaN    NaN         NaN
1440         Bnk    AllPub    ...            0    NaN    NaN         NaN
1441         Lvl    AllPub    ...            0    NaN    NaN         NaN
1442         Lvl    AllPub    ...            0    NaN    NaN         NaN
1443         Lvl    AllPub    ...            0    NaN    NaN         NaN
1444         Lvl    AllPub    ...            0    NaN    NaN         NaN
1445         Lvl    AllPub    ...            0    NaN    NaN         NaN
1446         Lvl    AllPub    ...            0    NaN    NaN         NaN
1447         Lvl    AllPub    ...            0    NaN    NaN         NaN
1448         Lvl    AllPub    ...            0    NaN   GdWo         NaN
1449         Lvl    AllPub    ...            0    NaN    NaN         NaN
1450         Lvl    AllPub    ...            0    NaN    NaN         NaN
1451         Lvl    AllPub    ...            0    NaN    NaN         NaN
1452         Lvl    AllPub    ...            0    NaN    NaN         NaN
1453         Lvl    AllPub    ...            0    NaN    NaN         NaN
1454         Lvl    AllPub    ...            0    NaN    NaN         NaN
1455         Lvl    AllPub    ...            0    NaN    NaN         NaN
1456         Lvl    AllPub    ...            0    NaN  MnPrv         NaN
1457         Lvl    AllPub    ...            0    NaN  GdPrv        Shed
1458         Lvl    AllPub    ...            0    NaN    NaN         NaN
1459         Lvl    AllPub    ...            0    NaN    NaN         NaN

     MiscVal MoSold YrSold  SaleType  SaleCondition  SalePrice
0          0      2   2008        WD         Normal     208500
1          0      5   2007        WD         Normal     181500
2          0      9   2008        WD         Normal     223500
3          0      2   2006        WD        Abnorml     140000
4          0     12   2008        WD         Normal     250000
5        700     10   2009        WD         Normal     143000
6          0      8   2007        WD         Normal     307000
7        350     11   2009        WD         Normal     200000
8          0      4   2008        WD        Abnorml     129900
9          0      1   2008        WD         Normal     118000
10         0      2   2008        WD         Normal     129500
11         0      7   2006       New        Partial     345000
12         0      9   2008        WD         Normal     144000
13         0      8   2007       New        Partial     279500
14         0      5   2008        WD         Normal     157000
15         0      7   2007        WD         Normal     132000
16       700      3   2010        WD         Normal     149000
17       500     10   2006        WD         Normal      90000
18         0      6   2008        WD         Normal     159000
19         0      5   2009       COD        Abnorml     139000
20         0     11   2006       New        Partial     325300
21         0      6   2007        WD         Normal     139400
22         0      9   2008        WD         Normal     230000
23         0      6   2007        WD         Normal     129900
24         0      5   2010        WD         Normal     154000
25         0      7   2009        WD         Normal     256300
26         0      5   2010        WD         Normal     134800
27         0      5   2010        WD         Normal     306000
28         0     12   2006        WD         Normal     207500
29         0      5   2008        WD         Normal      68500
...      ...    ...    ...       ...            ...        ...
1430       0      7   2006        WD         Normal     192140
1431       0     10   2009        WD         Normal     143750
1432       0      8   2007        WD         Normal      64500
1433       0      5   2008        WD         Normal     186500
1434       0      5   2006        WD         Normal     160000
1435       0      7   2008       COD        Abnorml     174000
1436       0      5   2007        WD         Normal     120500
1437       0     11   2008       New        Partial     394617
1438       0      4   2010        WD         Normal     149700
1439       0     11   2007        WD         Normal     197000
1440       0      9   2008        WD         Normal     191000
1441       0      5   2008        WD         Normal     149300
1442       0      4   2009        WD         Normal     310000
1443       0      5   2009        WD         Normal     121000
1444       0     11   2007        WD         Normal     179600
1445       0      5   2007        WD         Normal     129000
1446       0      4   2010        WD         Normal     157900
1447       0     12   2007        WD         Normal     240000
1448       0      5   2007        WD         Normal     112000
1449       0      8   2006        WD        Abnorml      92000
1450       0      9   2009        WD         Normal     136000
1451       0      5   2009       New        Partial     287090
1452       0      5   2006        WD         Normal     145000
1453       0      7   2006        WD        Abnorml      84500
1454       0     10   2009        WD         Normal     185000
1455       0      8   2007        WD         Normal     175000
1456       0      2   2010        WD         Normal     210000
1457    2500      5   2010        WD         Normal     266500
1458       0      4   2010        WD         Normal     142125
1459       0      6   2008        WD         Normal     147500

[1460 rows x 81 columns]

In [4]:
print (max(data))

YrSold

In [5]:
print (data.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
print (data.SalePrice)

0       208500
1       181500
2       223500
3       140000
4       250000
5       143000
6       307000
7       200000
8       129900
9       118000
10      129500
11      345000
12      144000
13      279500
14      157000
15      132000
16      149000
17       90000
18      159000
19      139000
20      325300
21      139400
22      230000
23      129900
24      154000
25      256300
26      134800
27      306000
28      207500
29       68500
         ...
1430    192140
1431    143750
1432     64500
1433    186500
1434    160000
1435    174000
1436    120500
1437    394617
1438    149700
1439    197000
1440    191000
1441    149300
1442    310000
1443    121000
1444    179600
1445    129000
1446    157900
1447    240000
1448    112000
1449     92000
1450    136000
1451    287090
1452    145000
1453     84500
1454    185000
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [7]:
sale = data.SalePrice

In [8]:
print (sale.head())

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [9]:
new = ['Id','SalePrice']

In [10]:
new

['Id', 'SalePrice']

In [11]:
newdata=data[new]
newdata

        Id  SalePrice
0        1     208500
1        2     181500
2        3     223500
3        4     140000
4        5     250000
5        6     143000
6        7     307000
7        8     200000
8        9     129900
9       10     118000
10      11     129500
11      12     345000
12      13     144000
13      14     279500
14      15     157000
15      16     132000
16      17     149000
17      18      90000
18      19     159000
19      20     139000
20      21     325300
21      22     139400
22      23     230000
23      24     129900
24      25     154000
25      26     256300
26      27     134800
27      28     306000
28      29     207500
29      30      68500
...    ...        ...
1430  1431     192140
1431  1432     143750
1432  1433      64500
1433  1434     186500
1434  1435     160000
1435  1436     174000
1436  1437     120500
1437  1438     394617
1438  1439     149700
1439  1440     197000
1440  1441     191000
1441  1442     149300
1442  1443     310000
1443  1444     121000
1444  1445     179600
1445  1446     129000
1446  1447     157900
1447  1448     240000
1448  1449     112000
1449  1450      92000
1450  1451     136000
1451  1452     287090
1452  1453     145000
1453  1454      84500
1454  1455     185000
1455  1456     175000
1456  1457     210000
1457  1458     266500
1458  1459     142125
1459  1460     147500

[1460 rows x 2 columns]

In [12]:
newdata.describe()

                Id      SalePrice
count  1460.000000    1460.000000
mean    730.500000  180921.195890
std     421.610009   79442.502883
min       1.000000   34900.000000
25%     365.750000  129975.000000
50%     730.500000  163000.000000
75%    1095.250000  214000.000000
max    1460.000000  755000.000000

In [13]:
Y = data.SalePrice

In [14]:
predictorlist = ['LotArea','YearBuilt','1stFlrSF','2ndFlrSF','FullBath','BedroomAbvGr','TotRmsAbvGrd']

In [15]:
X = data[predictorlist]

In [16]:
X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9
5,14115,1993,796,566,1,1,5
6,10084,2004,1694,0,2,3,7
7,10382,1973,1107,983,2,3,7
8,6120,1931,1022,752,2,2,8
9,7420,1939,1077,0,1,2,5
10,11200,1965,1040,0,1,3,5
11,11924,2005,1182,1142,3,4,11
12,12968,1962,912,0,1,2,4
13,10652,2006,1494,0,2,3,7
14,10920,1960,1253,0,1,2,5
15,6120,1929,854,0,1,2,5
16,11241,1970,1004,0,1,2,5
17,10791,1967,1296,0,2,2,6
18,13695,2004,1114,0,1,3,6
19,7560,1958,1339,0,1,3,6
20,14215,2005,1158,1218,3,4,9
21,7449,1930,1108,0,1,3,6
22,9742,2002,1795,0,2,3,7
23,4224,1976,1060,0,1,3,6
24,8246,1968,1060,0,1,3,6
25,14230,2007,1600,0,2,3,7
26,7200,1951,900,0,1,3,5
27,11478,2007,1704,0,2,3,7
28,16321,1957,1600,0,1,2,6
29,6324,1927,520,0,1,1,4
...,...,...,...,...,...,...,...
1430,21930,2005,734,1104,2,4,7
1431,4928,1976,958,0,2,2,5
1432,10800,1927,968,0,2,4,5
1433,10261,2000,962,830,2,3,8
1434,17400,1977,1126,0,2,3,5
1435,8400,1962,1537,0,1,3,7
1436,9000,1971,864,0,1,3,5
1437,12444,2008,1932,0,2,2,7
1438,7407,1957,1236,0,1,2,6
1439,11584,1979,1040,685,2,3,6
1440,11526,1922,1423,748,2,3,11
1441,4426,2004,848,0,1,1,3
1442,11003,2008,1026,981,2,3,10
1443,8854,1916,952,0,1,2,4
1444,8500,2004,1422,0,2,3,7
1445,8400,1966,913,0,1,3,6
1446,26142,1962,1188,0,1,3,6
1447,10000,1995,1220,870,2,3,8
1448,11767,1910,796,550,1,2,6
1449,1533,1970,630,0,1,1,3
1450,9000,1974,896,896,2,4,8
1451,9262,2008,1578,0,2,3,7
1452,3675,2005,1072,0,1,2,5
1453,17217,2006,1140,0,1,3,6
1454,7500,2004,1221,0,2,2,6
1455,7917,1999,953,694,2,3,7
1456,13175,1978,2073,0,2,3,7
1457,9042,1941,1188,1152,2,4,9
1458,9717,1950,1078,0,1,2,5
1459,9937,1965,1256,0,1,3,6

In [17]:
from sklearn.tree import DecisionTreeRegressor
iowamodel = DecisionTreeRegressor()

In [18]:
iowamodel.fit(X,Y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [19]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [20]:
iowamodel.predict(X.head())

array([ 208500.,  181500.,  223500.,  140000.,  250000.])

In [21]:
from  sklearn.metrics import mean_absolute_error

In [22]:
prediction = iowamodel.predict(X)

In [23]:
mean_absolute_error(Y,prediction)

62.354337899543388

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
train_X,val_X,train_Y,val_Y = train_test_split(X,Y,random_state=0 )

In [26]:
print (train_X.head())
print (val_X.head())
print (train_Y.head())
print (val_Y.head())

      LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
1292     6600       1892      1378       994         2             4
1018    10784       1991       802       670         2             3
1213    10246       1965       960         0         0             0
1430    21930       2005       734      1104         2             4
810     10140       1974      1309         0         1             3

      TotRmsAbvGrd
1292            11
1018             7
1213             3
1430             7
810              5
     LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
529    32668       1957      2515         0         3             4
491     9490       1941       958       620         1             3
459     7015       1950       979       224         1             3
279    10005       1977      1156       866         2             4
655     1680       1971       525       567         1             3

     TotRmsAbvGrd
529             9
491             5
459             5
279             8
655             6
1292    107500
1018    160000
1213    145000
1430    192140
810     181000
Name: SalePrice, dtype: int64
529    200624
491    133000
459    110000
279    192000
655     88000
Name: SalePrice, dtype: int64

In [27]:
val_X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
529,32668,1957,2515,0,3,4,9
491,9490,1941,958,620,1,3,5
459,7015,1950,979,224,1,3,5
279,10005,1977,1156,866,2,4,8
655,1680,1971,525,567,1,3,6

In [28]:
#train_X,train_Y,val_X,val_Y = train_test_split(X,Y,random_state=0 )

In [29]:
#train_X.head()

In [30]:
#val_X.head()

In [31]:
iowamodel.fit(train_X, train_Y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [32]:
valsetpred = iowamodel.predict(val_X)
print (valsetpred)

[ 335000.  205000.  124000.  200000.   91500.   58500.  350000.  165000.
  755000.  180000.  230000.  150900.  220000.  130000.  142125.  174000.
  236000.  126000.  151000.  118500.  135000.  149000.  137000.  189000.
  139000.  138887.  195000.   92000.  240000.  105500.  165500.  178000.
  123000.  285000.  253293.  178000.  192500.  123000.  219500.  315750.
  237500.  165000.  185500.  326000.  336000.  142600.  105500.   94750.
  162900.  133000.  340000.  154500.  205000.  109000.  184000.   88000.
  157500.  190000.  148000.  100000.  132000.  150000.  140000.  138800.
  262000.  174000.  108000.  210000.  107400.  183500.  178000.  109000.
  139000.  194500.  135750.  250000.  131500.   91000.  325300.  179900.
  129500.  135000.  153900.  147000.  226000.  179600.   68400.  202500.
  198900.  139400.  216000.  130500.  174000.  254900.  206000.  140000.
  191000.  274970.   88000.  137450.  337500.  200000.  163000.  149500.
   68400.  267000.  170000.  132000.  185000.  125500.   86000.  136500.
  226000.  126000.  179400.  148500.  466500.  129500.  195000.  213500.
  149000.  164500.  136500.  205000.  224900.  174000.  360000.  185000.
  197000.  218000.  173000.  185000.  154300.  175500.  120500.  224900.
   97500.  173000.   93000.  201000.  141000.  148000.  335000.  155000.
  167000.  174000.  174000.  150000.  318061.  175000.  161500.  200000.
  372402.  133900.  103600.  200000.  139400.  161000.  157000.  183200.
  144000.  145250.  167500.  122000.  262500.  189950.  161500.  348000.
  185000.  194500.  170000.  117000.  207500.  112000.  145000.   95000.
  132500.  272000.   67000.  155000.  175500.  187000.   66500.  318000.
  129000.  165150.   89500.  185000.  215000.  149000.  126000.  144000.
  212900.  133000.   58500.  156000.   75500.  131400.  173000.  125000.
  154000.  179000.   72500.  149900.  128000.  200000.  148000.  191000.
  271900.   58500.  155000.  213000.   93500.   76000.  287000.  185000.
  217500.  315000.  232000.   92000.  175000.  181000.  114504.  120500.
  190000.  214900.  177500.  302000.  150750.  205000.   93500.  116000.
  120500.  145000.  240000.  133000.  139000.  107500.  123500.  175000.
  121600.  178000.  280000.  235000.  171000.  112000.  153337.  173000.
  105000.  173000.  137500.  275000.   85500.  361919.  198900.  257000.
  129000.  174000.  184750.  556581.  177000.  113000.  179500.  177000.
  440000.  395192.  155000.   60000.  188700.  307000.  165000.  158000.
   97500.  215000.  118500.  219500.  239000.  188700.  214900.   83000.
  122000.  360000.  113000.   97500.  220000.  237500.  113000.  260400.
  378500.  259500.   86000.   79000.  402861.  138000.   83000.  240000.
  221000.  185000.  153000.  165000.  100000.  115000.  175500.  185000.
  207000.  149500.  115000.  170000.  155835.  180000.  109900.  151000.
  145000.  102776.  105000.  142000.  262280.  132000.  171750.  225000.
  102000.  213000.   67000.  226000.   95000.  228500.   94750.  440000.
  207500.  141000.  108000.  213500.  188700.  169990.  170000.  169900.
  132500.  180000.  148500.  144900.  372402.  165000.  160000.  214900.
  171500.  162000.   66500.  109000.  103200.  135000.  190000.  315000.
   80000.  106500.  153500.  369900.  267000.  160000.  275000.  169000.
  250000.  190000.  217000.  262500.   34900.]

In [33]:
train_X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
1292,6600,1892,1378,994,2,4,11
1018,10784,1991,802,670,2,3,7
1213,10246,1965,960,0,0,0,3
1430,21930,2005,734,1104,2,4,7
810,10140,1974,1309,0,1,3,5

In [34]:
val_X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
529,32668,1957,2515,0,3,4,9
491,9490,1941,958,620,1,3,5
459,7015,1950,979,224,1,3,5
279,10005,1977,1156,866,2,4,8
655,1680,1971,525,567,1,3,6

In [35]:
print (mean_absolute_error(val_Y,valsetpred))

32793.0958904

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy_score(val_Y,valsetpred)

0.0054794520547945206

In [38]:
def get_mae(max_leaf_nodes, predictors_train, predictors_val, targ_train, targ_val):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(predictors_train, targ_train)
    preds_val = model.predict(predictors_val)
    mae = mean_absolute_error(targ_val, preds_val)
    return(mae)

In [39]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_Y, val_Y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  35190
Max leaf nodes: 50  		 Mean Absolute Error:  27825
Max leaf nodes: 500  		 Mean Absolute Error:  32662
Max leaf nodes: 5000  		 Mean Absolute Error:  33382

In [44]:
for max_leaf_nodes in [35, 40, 50, 60]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_Y, val_Y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 35  		 Mean Absolute Error:  27556
Max leaf nodes: 40  		 Mean Absolute Error:  27570
Max leaf nodes: 50  		 Mean Absolute Error:  27825
Max leaf nodes: 60  		 Mean Absolute Error:  28072

In [47]:
for max_leaf_nodes in range(30,40):
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_Y, val_Y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 30  		 Mean Absolute Error:  28302
Max leaf nodes: 31  		 Mean Absolute Error:  27965
Max leaf nodes: 32  		 Mean Absolute Error:  27852
Max leaf nodes: 33  		 Mean Absolute Error:  27852
Max leaf nodes: 34  		 Mean Absolute Error:  27880
Max leaf nodes: 35  		 Mean Absolute Error:  27556
Max leaf nodes: 36  		 Mean Absolute Error:  27372
Max leaf nodes: 37  		 Mean Absolute Error:  27491
Max leaf nodes: 38  		 Mean Absolute Error:  27509
Max leaf nodes: 39  		 Mean Absolute Error:  27633

In [48]:
from sklearn.ensemble import RandomForestRegressor

In [50]:
forestmodel = RandomForestRegressor()

In [51]:
forestmodel.fit(train_X,train_Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [52]:
forestprediction = forestmodel.predict(val_X)

In [53]:
forestprediction

array([ 256300.        ,  167770.        ,  129080.        ,
        195400.        ,   91895.83333333,  108032.        ,
        221742.9       ,  125560.        ,  532065.4       ,
        176972.26666667,  186817.8       ,  146470.        ,
        235090.        ,  124690.        ,  143537.5       ,
        126450.        ,  229300.        ,  132600.        ,
        135855.        ,  130352.9       ,  132990.        ,
        147533.33333333,  116768.3       ,  179840.        ,
        149880.        ,  164827.4       ,  177650.        ,
         88390.        ,  298829.3       ,  116920.        ,
        140430.        ,  187050.        ,  126010.        ,
        265842.3       ,  334293.7       ,  180565.5       ,
        222796.1       ,  111650.        ,  218300.        ,
        302750.        ,  230300.        ,  138560.        ,
        182082.        ,  307788.9       ,  313375.        ,
        139520.        ,  107650.        ,  124775.        ,
        168465.        ,  121737.5       ,  338193.1       ,
        136935.        ,  181700.        ,  114540.        ,
        240810.        ,  100314.9       ,  133217.5       ,
        210910.        ,  133700.        ,   91090.        ,
        128700.        ,  136010.        ,  138450.        ,
        152615.        ,  205400.        ,  151800.        ,
        140550.        ,  218176.        ,   94020.        ,
        198770.        ,  177560.        ,  125753.        ,
        129450.        ,  201590.        ,  121790.        ,
        249289.3       ,  133430.        ,   96150.        ,
        317420.4       ,  153770.        ,  128730.        ,
        126020.        ,  159605.        ,  134700.        ,
        227900.        ,  182144.        ,  100750.        ,
        201950.        ,  196980.        ,  142460.        ,
        191516.5       ,  165435.        ,  187950.        ,
        223737.8       ,  195417.3       ,  128425.        ,
        207379.9       ,  185187.        ,  123050.        ,
        136600.        ,  312350.        ,  209948.        ,
        151990.        ,  149990.        ,   73000.        ,
        281100.        ,  134400.        ,  109577.6       ,
        177839.        ,  125060.        ,   70090.        ,
        125079.3       ,  222410.        ,  111830.        ,
        172400.        ,  145710.        ,  446063.        ,
        124119.3       ,  210540.        ,  245573.        ,
        151850.        ,  163330.        ,  134280.        ,
        196000.        ,  226800.        ,  221546.8       ,
        365444.7       ,  190852.5       ,  188507.8       ,
        181600.        ,  191474.9       ,  180615.        ,
        164260.        ,  174590.        ,  123365.        ,
        240280.        ,  138320.        ,  176934.        ,
        102750.        ,  183670.        ,  147290.        ,
        153100.        ,  251650.        ,  145880.        ,
        166780.        ,  182850.        ,  206428.9       ,
        132820.        ,  270804.4       ,  210750.        ,
        163010.        ,  303356.2       ,  350629.7       ,
        138405.        ,  144153.4       ,  217670.        ,
        125675.        ,  164127.5       ,  144450.        ,
        173120.        ,  125590.        ,  152440.        ,
        185213.1       ,  127925.        ,  240595.6       ,
        153930.        ,  154685.        ,  320600.        ,
        191620.        ,  181320.        ,  150148.2       ,
        148218.4       ,  207850.        ,  171490.        ,
        141515.        ,  104990.        ,  136870.        ,
        217940.        ,  107372.6       ,  151720.        ,
        213139.        ,  173320.        ,   87830.        ,
        303850.        ,   98800.        ,  174840.        ,
         79231.1       ,  193725.        ,  199597.8       ,
        142283.33333333,  132600.        ,  142175.        ,
        219510.        ,  144100.        ,  107890.        ,
        150580.        ,   88550.        ,  144030.        ,
        156200.        ,  131200.        ,  139775.        ,
        168200.        ,  102080.        ,  141980.        ,
        136730.        ,  203807.9       ,  143260.        ,
        265302.4       ,  272070.        ,   73827.6       ,
        149950.        ,  271736.1       ,  100780.        ,
         81750.        ,  261500.        ,  226875.        ,
        178450.        ,  281010.        ,  249182.8       ,
         87500.        ,  191450.        ,  161565.        ,
        138918.4       ,  124965.        ,  196207.8       ,
        233590.        ,  227590.        ,  278500.        ,
        143985.        ,  190250.        ,  100230.        ,
         78600.        ,  121375.        ,  144300.        ,
        232512.5       ,  124690.        ,  149440.        ,
        107140.        ,  127112.5       ,  172913.2       ,
        111290.4       ,  200950.        ,  225850.        ,
        220300.        ,  173800.        ,  127000.        ,
        165883.7       ,  176650.        ,  119650.        ,
        180510.        ,  174340.        ,  258296.        ,
        100825.6       ,  380625.8       ,  208996.4       ,
        296278.6       ,  101367.6       ,  268790.4       ,
        406193.1       ,  334108.1       ,  147622.14285714,
        147217.5       ,  176190.        ,  107710.        ,
        403609.        ,  283396.        ,  250450.        ,
         86930.        ,  159880.        ,  305115.6       ,
        144890.        ,  186700.        ,  141420.        ,
        201150.        ,  129038.7       ,  237452.5       ,
        197973.        ,  185660.        ,  224570.        ,
        121100.        ,  126625.        ,  398215.4       ,
        146707.5       ,  140725.        ,  206090.        ,
        199500.        ,   99000.        ,  271797.2       ,
        459397.6       ,  169800.        ,   81520.        ,
         75580.        ,  376059.7       ,  124220.        ,
        110800.        ,  249319.3       ,  245090.        ,
        186575.        ,  152975.        ,  165915.        ,
         94812.5       ,  113230.        ,  186268.        ,
        192020.        ,  180165.        ,  141050.        ,
        137800.        ,  170390.        ,  163384.5       ,
        176880.        ,  116260.        ,  152170.4       ,
        131520.        ,  112450.2       ,  122260.        ,
        141480.        ,  280890.        ,  128770.        ,
        184649.        ,  157200.        ,  115200.        ,
        276096.1       ,   89850.        ,  191840.        ,
        114200.        ,  230690.        ,  123450.        ,
        376261.7       ,  174650.        ,  141650.        ,
        120400.        ,  243450.        ,  159007.5       ,
        182495.7       ,  162600.        ,  156720.        ,
        126640.        ,  172390.        ,  133419.2       ,
        129109.3       ,  309881.7       ,  161200.        ,
        150150.        ,  224570.        ,  161000.        ,
        145730.        ,   85740.        ,  119409.3       ,
        115765.        ,  120000.        ,  203777.5       ,
        318898.1       ,  125640.        ,  130340.        ,
        163900.        ,  387652.1       ,  308700.        ,
        150770.        ,  293602.2       ,  236882.        ,
        306747.9       ,  192930.        ,  214850.        ,
        246958.9       ,   94800.        ])

In [54]:
mean_absolute_error(val_Y,forestprediction)

23182.413855185911


**If you have any questions or hit any problems, come to the [Learn Discussion](https://www.kaggle.com/learn-forum) for help. **

**Return to [ML Course Index](https://www.kaggle.com/learn/machine-learning)**